.transactionhistory {
  border: 3px solid #000;
  background-color: #fff;
}

thead {
  background-color: aquamarine;
}

th {
  font-size: 40px;
  padding: 20px;
  border: 1px solid #212121;
}

td {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  border: 1px solid #212121;
}
