.item {
  display: flex;
  padding: 15px 15px;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 31px;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.status {
  margin: 0;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.avatar {
  margin: 0;
}
.name {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}
.true {
  background-color: greenyellow;
}

.false {
  background-color: red;
}
